<div class="form login">
    <p class="form-heading">Login form</p>
    <form action="" method="post" role="form">
        <label for="email">Email</label>
        <input name="email" id="email" type="email">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Log In</button>
    </form>
</div>
    