html,
body{
    margin: 0;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

h1{
    font-size: 1.3em;
    text-align: center;
}

div.header{
    background-color: beige;
    color: rgb(27, 18, 18);
    width: 100%;
    text-align: center;
    position: relative;
    height: 200px;
   
}

div.header h2{
    margin: 0px;
}

div.footer {
    background-color: beige;
    color: rgb(27, 18, 18);
    text-align: center;
    padding: 50px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
}

p{
    font-size: 20px;
    line-height: 1.5;
}

div .form-heading{
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}

div.form form{
    display: flex;
    flex-direction: column;
    margin: 0px 700px;
    margin-bottom: 300px;
    padding: 0px 100px;
    font-weight: 30px;
    font-size: 30px;
}

div.form input {
    width: 500px;
    height: 40px;
    border-radius: 4px;
    border: 2px black solid;
    font-size: 1em;
}

textarea {
    font-size: 1em;
    width: 500px;
    height: 100px;
}

div label {
    margin: 5px 0;
    
}

div.form form button{
    background-color: rgb(201, 198, 187);
    justify-content: center;
    width: 150px;
    margin: 10px 0;
    padding: 5px;
    font-weight: 30px;
    font-size: 30px;
    border-radius: 10px;
}

div nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    color:rgb(241, 189, 44);
    justify-content: center;
}

a{
    text-decoration: none;
    color:rgb(241, 189, 44);
    justify-content: center;
    padding: 0 20px;
}

a:hover{
    background-color: rgb(252, 230, 174);
    color: rgb(0, 0, 0);
}

div .redirect{
    margin-top: 0px;
    justify-items: center;
    margin-left: 580px;
    
}

div a h2.title {
    color: black;
    margin: 0px;
    padding: 0px;
    display: inline;
}

div a[href] h2.title:hover {
    background-color: beige;
    color:black
}